# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# Ambiente
.env
.env.local
.env.*.local

# Sistema
.DS_Store
Thumbs.db

# Build / dist
dist/
build/
